<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forms.css">
    <title>Edit Book</title>
</head>
<body>
    <h1>Edit Book</h1>
    <!-- Form for editing an existing book -->
    <form action="/update-book/<%= book.id %>" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= book.title %>" required>
        
        <label for="author">Author:</label
        <input type="text" id="author" name="author" value="<%= book.author %>" required>
        
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" value="<%= book.isbn %>">
        
        <label for="rating">Rating out of 5:</label>
        <input type="number" id="rating" name="rating" value="<%= book.rating %>" min="1" max="5">
        
        <label for="read_date">Read Date:</label>
        <input type="date" id="read_date" name="read_date" value="<%= book.read_date.toISOString().split('T')[0] %>">
        
        <label for="review">Review:</label>
        <textarea id="review" name="review"><%= book.review %></textarea>
        
        <button type="submit">Update Book</button>
    </form>
    
    <footer>
        <div class="footer-content">
            <p>© 2024 Andrew Kim. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
